
@{
    ViewBag.Title = "Login";
   
}
@*@ViewBag.Mesaj;*@


<style>


    body {
        margin: 0;
        padding: 0;
        background-color: white;
        height: 100vh;
    }

    .containerOne {
       /* margin-left: px;*/
       margin-right:50px;
    }

    #login .containerOne #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: antiquewhite;
        border-radius: 17px;
    }

        #login .containerOne #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            #login .containerOne #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }
</style>




@using (Html.BeginForm())
{



    <body>
        <div id="login">

            <div class="containerOne">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Login</h3>
                                <div class="form-group">
                                    <label for="name" class="text-info">Username:</label><br>
                                    <input type="text" name="name" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <div>
                                    <button class="btn btn-info" type="submit">Submit</button>
                                    @Html.ActionLink("Register", "SignUp", "SignUp")
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
}
