@model IEnumerable<ShoppingApp.Models.Concret.Category>

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            
           
                <a href="/Category/Index?categoryId=@item.Id" class="btn btn-primary btn-sm">Show Products</a>

            
        </td>
       
    </tr>
}

</table>
